.leftpart{
	float: left;
	overflow: auto;
	width: 230px;
	border-right: 1px solid gray;
}
.content{
	margin-left: 250px;
}

.rootcat{
	border: 1px solid gray;
	margin: 0px 5px 4px 0px;
	padding: 5px;
}

.rootcat:hover{
	cursor: pointer;
}

.subcat{
	padding-left: 15px;
	margin-bottom:  4px
}
.subcat:hover{
	cursor: pointer;
}

.image img{
	width: 100px;
	height: 100px;
}
.image{
	float:left;
	margin: 5px;
}

.image:hover{
	cursor: pointer;
}
.title{
	text-align: center;
	font-size: 13px;
}
.sendfile{
	cursor: pointer;
}

.tooltip {
	display:none;
	position:absolute;
	border:1px solid #333;
	background-color:#161616;
	border-radius:5px;
	padding:10px;
	color:#fff;
	font-size:12px Arial;
}

.selected{
	color: #ff0000;
}

h3{
	margin: 7px 0px 7px 0px;
}
.form{
	float: right;
}
.dzonediv{
	position: absolute;
	top:10px;
	left: 240px;
}
.dzone{
	width: 100%;
	border: 1px solid red;
}
.dz-details, .dz-success-mark, .dz-error-mark{
	display: none;
}
body{
	position: inherit;
}