#medialib-folder 
{
}
#medialib-folder .folders
{
    margin-right: -160px;
    width: 150px;
    float: left;
    display: inline-block;
    border: solid 1px red;
}
#medialib-folder .content
{
    margin-left: 170px;
    margin-right: 170px;
    width: 440px;
    height: 100%;
    display: inline-block;
    border: solid 1px black;
}
#medialib-folder .info
{
    float: right;
    margin-left: -160px;
    margin-right: 10px;
    width: 150px;
    height: 100%;
    display: inline-block;
    border: solid 1px green;
}
.medialib-widget-select
{
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 140px;
    min-width: 140px;
}
.medialib-widget-select input
{
    display: -none;
}
.medialib-widget-select .progr
{
    width: 100%;
    height: 18px;
}
.medialib-widget-select .progr .bar
{
    height: 18px;
    background: green;
}







